{{> head }}

<body>
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Kimetsu no Jaiba</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim deserunt illum soluta voluptate eligendi esse, tempora quas! Pariatur natus vel ratione commodi magnam. Quasi velit amet quisquam voluptate, vitae nam!</p>
        </div>
        <div class="col-4">
            {{!-- class="img-thumbnail" --}}
            <img src="images/KNY.jpg"  alt="" height="555" id="kimetsu">
        </div>
    </div>

    {{> footer }}
</body>

</html>