{{> head }}

<body>
    {{> navbar }}
    <div class="card" style="width: 18rem;">
        <img src="images/VE.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hello, {{ capitalizar nombre }}.</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit accusamus in veritatis ab, nobis aut nemo obcaecati libero. Aperiam quis perferendis dolor alias, nesciunt eligendi aliquid itaque iusto dolorem maiores?</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    {{> footer }}
</body>

</html>